<form method="post" action="/files" enctype="multipart/form-data">
    <fieldset>
        <legend>Formulaire de test d'envoi d'image</legend><br>
        <label for="upload_file"> Choisissez un fichier</label>
        <input type="file" name="upload_file"><br><br>
        <label for="description"> Description de l'image</label>
        <input type="text" name="description"><br><br>
        <input type="text" name="userId" value="6775f603fe7e719596f9706e" hidden><!-- ID de l'utilisateur existant la BDD mongo-->
        <input type="submit" value="Envoyer">
    </fieldset>
</form>